DROP TABLE IF EXISTS cart_items; DROP TABLE IF EXISTS carts; CREATE TABLE carts (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), user_id UUID NOT NULL, status TEXT NOT NULL DEFAULT 'active', total_amount DECIMAL(10,2) NOT NULL DEFAULT 0, created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(), updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()); CREATE TABLE cart_items (id UUID PRIMARY KEY DEFAULT gen_random_uuid(), cart_id UUID NOT NULL, product_id TEXT NOT NULL, quantity INTEGER NOT NULL DEFAULT 1, price DECIMAL(10,2) NOT NULL, variants JSONB DEFAULT '{}', created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(), updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(), FOREIGN KEY (cart_id) REFERENCES carts(id) ON DELETE CASCADE); CREATE INDEX idx_carts_user_id ON carts(user_id); CREATE INDEX idx_cart_items_cart_id ON cart_items(cart_id);
